<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.jassmp"
          android:hardwareAccelerated="true"
          android:versionCode="47"
          android:versionName="3.0">

    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <!--
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.GET_ACCOUNTS"/>
    <uses-permission android:name="android.permission.USE_CREDENTIALS"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    -->

    <uses-sdk
        android:minSdkVersion="19"
        android:targetSdkVersion="20"/>

    <application
        android:name=".Utils.Common"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true">

        <!-- Launcher Activity -->

        <activity android:name=".LauncherActivity.LauncherActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <!-- Welcome Activity -->

        <activity
            android:name=".WelcomeActivity.WelcomeActivity"
            android:label="@string/app_name">
        </activity>

        <!-- Main Activity -->

        <activity
            android:name=".MainActivity.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme">
        </activity>

        <!-- Services -->

        <service android:name=".Playback.PlaybackService"/>

        <service android:name=".Services.AutoFetchAlbumArtService"/>

        <service
            android:name=".Services.BuildMusicLibraryService"
            android:exported="false"/>
        <service
            android:name=".Services.DashClockExtensionService"
            android:icon="@drawable/dashclock_icon"
            android:label="@string/app_full_name"
            android:permission="com.google.android.apps.dashclock.permission.READ_EXTENSION_DATA">
            <intent-filter>
                <action android:name="com.google.android.apps.dashclock.Extension"/>
            </intent-filter>

            <meta-data
                android:name="protocolVersion"
                android:value="2"/>
            <meta-data
                android:name="worldReadable"
                android:value="true"/>
            <meta-data
                android:name="description"
                android:value="@string/dashclock_description"/>
        </service>

        <!-- Listens for media playback buttons (headphone buttons, bluetooth buttons, etc.) -->

        <receiver android:name=".BroadcastReceivers.HeadsetButtonsReceiver">
            <intent-filter>
                <action android:name="android.intent.action.MEDIA_BUTTON"/>
            </intent-filter>
        </receiver>

        <!-- Main Settings Activity -->

        <activity android:name="com.jassmp.SettingsActivity.SettingsActivity">
        </activity>

        <!-- Dummy activity that launches Fragment dialogs from the Main Settings Activity -->

        <activity
            android:name="com.jassmp.SettingsActivity.PreferenceDialogLauncherActivity"
            android:label="@string/app_name"
            android:theme="@style/AppThemeTransparent">
        </activity>

        <!-- KitKat Fix Activity -->

        <activity
            android:name="com.jassmp.Services.KitKatFixActivity"
            android:allowTaskReparenting="true"
            android:alwaysRetainTaskState="false"
            android:clearTaskOnLaunch="true"
            android:enabled="true"
            android:excludeFromRecents="true"
            android:finishOnTaskLaunch="true"
            android:noHistory="true"
            android:stateNotNeeded="true"
            android:theme="@android:style/Theme.NoDisplay"/>
    </application>

</manifest>
